<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渗透测试攻击者-成果展示</title>
    <link rel="stylesheet" href="../static/style.css">
    <style>
        table {
            border-collapse: collapse;
            width: 300px;
        }

        th, td {
            border: 1px solid grey;
            text-align: center;
        }
    </style>
</head>
<body>
<h1>渗透测试攻击者</h1>
<h2>攻击方式说明：</h2>
<ul>
    <li><a href="/static/xssFromFrontend.html">xss 攻击</a></li>
    <li><a href="/static/csrf.html">csrf 攻击</a></li>
    <li><a href="/static/clickjacking.html">点击劫持</a></li>
</ul>
<h2>成果展示：</h2>
<p>1. 我们引入 xss 攻击，获取的用户的 cookie 信息：</p>
<ul>
    <% for (let i = 0; i < localhost9001Cookies.length; i ++) { %>
    <li><%= localhost9001Cookies[i] %></li>
    <% } %>
</ul>
<p>2. 我们进行点击劫持，获取到的账号密码：</p>
<table>
    <tr>
        <th>账号</th>
        <th>密码</th>
    </tr>
    <% for (let j = 0; j < localhost9001user.length; j ++) { %>
    <tr>
        <td><%= localhost9001user[j].username %></td>
        <td><%= localhost9001user[j].password %></td>
    </tr>
    <% } %>
</table>
</body>
</html>